@media (max-width: 900px) {
    .carousel {
        button {
            display: none;
        }
    }
}

@media (max-width: 1040px) {
    .promo {
        background: url('../img/bg/woman_bg_small.jpg') center (center/cover) no-repeat;
    }
    .container {
        max-width: 720px;
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
            line-height: 11px;
            span {
                font-size: 17px;
            }
        }
        &__phone {
            font-size: 17px;
            line-height: 17px;
        }
    }
    .promo {
        &__header {
            font-size: 35px;
            line-height: 35px;
        }
        &__subheader {
            font-size: 20px;
            line-height: 20px;
            margin-top: 5px;
        }
        &__icons {
            width: 390px;
        }
        &__item {
            font-size: 13px;
        }
    }
    .benefits {
        &__item {
            font-size: 13px;
            line-height: 17px;
        }
    }
    .title {
        font-size: 30px;
        line-height: 40px;
    }
    .consult {
        &__subtitle {
            font-size: 19px;
            line-height: 25px;
            margin-top: 12px;
        }
    }
    .feed-form {
        margin-top: 45px;
    }

    .carousel {
        &__inner {
            img {
                width: 100%;
            }
        }
    }

    .catalog {
        &__content {
            padding: 0 42px;
        }
    }

    .review {
        &-item {
            &__info {
                width: 480px;
            }
            &__text {
                line-height: 22px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .header {
        &__logo {
            width: 180px;
        }
        &__official {
            font-size: 10px;
            line-height: 10px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 15px;
            line-height: 15px;
            width: 100%;
            text-align: right;
        }
    }
    .button {
        width: 125px;
        height: 27px;
        font-size: 10px;
        &_main {
            width: 210px;
            height: 45px;
            font-size: 11px;
        }
        &_consult {
            width: 100%;
            height: 49px;
            font-size: 13px;
        }
    }
    .promo {
        &__header {
            font-size: 30px;
            line-height: 30px;
        }
        &__subheader {
            font-size: 17px;
            line-height: 17px;
            margin-top: 5px;
        }
        &__icons {
            width: 350px;
        }
        &__item {
            font-size: 12px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .benefits {
        &__item {
            font-size: 12px;
            line-height: 15px;
            width: 170px;
            span {
                margin-top: 22px;
                font-size: 15px;
            }
        }
    }
    .title {
        font-size: 24px;
        line-height: 34px;
    }
    .consult {
        min-height: 550px;
        padding: 68px 0 77px 0;
        &__subtitle {
            font-size: 17px;
            line-height: 23px;
            margin-top: 12px;
        }
    }
    .feed-form {
        width: 280px;
        input {
            height: 45px;
        }
    }
    
    .catalog {
        padding-bottom: 50px;
        &__title {
            font-size: 27px;
        }
        &-item {
            display: block;
            margin: 0 auto;
            margin-bottom: 19px;
        }
    }

    .review {
        &-item {
            flex-wrap: wrap;
            &__img {
                display: block;
                margin: 0 auto;
            }
            &__info {
                width: 443px;
                margin: 0 auto;
                margin-top: 30px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }
    .header {
        &__logo {
            width: 135px;
        }
        &__official {
            display: none;
        }
        &__phone {
            font-size: 12px;
            line-height: 17px;
        }
    }
    .promo {
        min-height: 510px;
        padding-bottom: 55px;
        &__wrapper {
            margin-top: 50px;
            align-items: center;
        }
        &__header {
            font-size: 22px;
            line-height: 22px;
        }
        &__subheader {
            font-size: 13px;
            line-height: 13px;
        }
        &__icons {
            width: 100%;
            margin-right: 0;
        }
        &__item {
            font-size: 10px;
        }
        &__link {
            font-size: 12px;
        }
    }
    .button {
        width: 110px;
        &_main {
            width: 190px;
            font-size: 12px;
        }
        &_consult {
            width: 100%;
        }
    }
    .benefits {
        padding: 35px 0 45px 0;
        &__header {
            font-size: 21px;
            line-height: 21px;
        }
        &__wrapper {
            margin-top: 0;
            flex-wrap: wrap;
        }
        &__item {
            margin-top: 35px;
            width: 100%;
            font-size: 15px;
            span {
                font-size: 18px;
                margin-top: 25px;
            }
        }
    }
    .title {
        text-align: center;
        font-size: 17px;
        line-height: 22px;
    }
    .consult {
        min-height: 500px;
        padding: 45px 0 40px 0;
        &__subtitle {
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            margin-top: 15px;
            justify-content: center;
        }
    }
    .feed-form {
        width: 100%;
        input {
            font-size: 14px;
        }
    }
    .catalog {
        padding-bottom: 30px;
        &__title {
            font-size: 25px;
            line-height: 30px;
        }
        &__tabs {
            flex-wrap: wrap;

        }
        &__tab {
            width: 185px;
            height: 45px;
            margin-bottom: 10px;
            line-height: 42px;
            font-size: 16px;
        }
        &__content {
            padding: 0;
            margin-top: 45px;
        }
        &-item {
            width: 260px;
            &__title {
                font-size: 14px;
                line-height: 22px;
            }
            &__descr {
                font-size: 13px;
                line-height: 21px;
            }
            &__link {
                line-height: 13px;
                font-size: 13px;
                margin-top: 20px;
            }
            hr {
                width: 100%;
            }
            &__footer {
                flex-wrap: wrap;
                justify-content: center;
            }
            &__prices {
                text-align: center;
            }
            &__btn {
                margin-top: 10px;
                height: 35px;
                width: 120px;
                font-size: 12px;
            }
            &__list {
                li {
                    font-size: 13px;
                    line-height: 19px;
                    margin-bottom: 5px;
                }
            }
            &__back {
                font-size: 13px;
                line-height: 17px;
                display: block;
                width: 100%;
            }
        }
    }

    .review {
        &__title {
            font-size: 23px;
            line-height: 23px;
        }
        &-item {
            margin-top: 50px;
            &__text {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}