.benefits {
    background-color: #F6F6F6;
    min-height: 473px;
    padding: 70px 0 67px 0;
    &__header {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #0D0D0D;
    }
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 272px;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        img {
            display: block;
            margin: 0 auto;
        }
        span {
            display: block;
            margin-top: 35px;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 20px;
        }
        a {
            color: #FF0000;
        }
    }
    &__img {
        animation-name: heartbeat;
        animation-duration: 1.5s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        &:hover {
            animation-play-state: paused;
        }
    }
}