.footer {
    height: 630px;
    position: relative;
    &__info {
        padding: 50px 0 56px 0;
        width: 460px;
        height: 270px;
        background: $main-color;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        address {
            text-align: center;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 36px;
        }
    }
    &__phone {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        display: block;
        text-decoration: none;
        margin-bottom: 36px;
        &:hover {
            color: #FFFFFF;
        }
    }
    &__links {
        width: 212px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 53px;
        height: 52px; 
        border: 2px solid #FFFFFF;
        img {
            height: 25px;
        }
        &:hover {
            box-shadow: 2px 2px 15px white;
        }

    }
    &__769_iframe {
        display: none;
    }
}