.feed-form {
    width: 303px;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    input {
        padding: 0 21px 0 21px;
        height: 52px;
        background-color: #FFFFFF;
        border-radius: 5px;
        border: none;
        outline:none;
        margin-bottom: 15px;
        &:nth-child(3) {
            margin-bottom: 17px;
        }
    }
    &_mt26 {
        margin-top: 26px;
    }
}