.overlay {
    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .56);
    height: 100%;
    width: 100%;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 382px;
    min-height: 402px;
    background: #F2F2F2;
    padding: 35px 40px 40px 40px;
    &__close {
        position: absolute;
        top: 0;
        right: -33px;
        color: $main-color;
        font-size: 44px;
        line-height: 25px;
        cursor: pointer;
    }
    &__subtitle {
        color: #0D0D0D;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
    }
    &__descr {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #0D0D0D;
        margin-top: 10px;
        text-align: center;
    }
    &_mini {
        min-height: 143px;
    }
    &__320 {
        color: #0D0D0D;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        margin-top: 5px;
    }

    .error {
        border: 1px solid red;
    }

    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}

#consultation, #order, #thanks, .modal__320 {
    display: none;
}